In [17]:
import re
import pandas as pd

In [23]:
df = pd.read_csv('data/dataset.csv')
df.head()

                  Date                                             Tweets
0  2020-06-21 19:37:38  #Gempa Mag:5.0, 22-Jun-20 02:33:08 WIB, Lok:9....
1  2020-06-22 05:24:14  New normal itu bukan berarti covidnya udah ila...
2  2020-06-22 18:41:53                           PRESIDENTIAL HARASSMENT!
3  2020-06-22 23:59:59  Gua bingung dong, ini tuh ko bisa sering bgt d...
4  2020-06-22 23:59:59  RT @najwakaram: B7ebbkoun ktir ktir ktir ❤️❤️❤...

In [24]:
def preprocessing(str):
    #lowercase string
    str = str.lower()
    #remove rt, mention and link
    str = re.sub('rt |@[a-z]*|http([a-z]|[0-9]|/|:|.)*', '', str)
    #remove punctuation and emoticon
    str = re.sub('[^a-z0-9]+', ' ', str)
    return str

df['Preprocessing'] = df.Tweets.apply(preprocessing)
df.head()

,Date,Tweets,Preprocessing
0,2020-06-21 19:37:38,"#Gempa Mag:5.0, 22-Jun-20 02:33:08 WIB, Lok:9....",gempa mag 5 0 22 jun 20 02 33 08 wib lok 9 11...
1,2020-06-22 05:24:14,New normal itu bukan berarti covidnya udah ila...,new normal itu bukan berarti covidnya udah ila...
2,2020-06-22 18:41:53,PRESIDENTIAL HARASSMENT!,presidential harassment
3,2020-06-22 23:59:59,"Gua bingung dong, ini tuh ko bisa sering bgt d...",gua bingung dong ini tuh ko bisa sering bgt da...
4,2020-06-22 23:59:59,RT @najwakaram: B7ebbkoun ktir ktir ktir ❤️❤️❤...,b7ebbkoun ktir ktir ktir

### EXAMPLE

In [25]:
# Before Preprocessing Data
df.Tweets[0]

'#Gempa Mag:5.0, 22-Jun-20 02:33:08 WIB, Lok:9.11 LS,110.85 BT (107 km BaratDaya PACITAN-JATIM), Kedlmn:63 Km, tdk berpotensi tsunami #BMKG https://t.co/NY4CZjSxdl'

In [26]:
# After Preprocessing Data
print(df.Preprocessing[0])

 gempa mag 5 0 22 jun 20 02 33 08 wib lok 9 11 ls 110 85 bt 107 km baratdaya pacitan jatim kedlmn 63 km tdk berpotensi tsunami bmkg

In [27]:
df.to_csv('data/preprocessed_data.csv', index=False)